.burger{
  position: relative;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
}
.burger .bar{
  width: 100%;
  height: 5px;
  background: turquoise;
  border-radius: 5px;
  transition: .5s ease;
}
.burger .bar::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: turquoise;
  border-radius: 5px;
  transform: translateY(-15px);
  transition: .5s ease;
}
.burger .bar::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: turquoise;
  border-radius: 5px;
  transform: translateY(15px);
  transition: .5s ease;
}
.sidebar{
  position: fixed;
  height: 100vh;
  width: 300px;
  background: var(--secondary-color);
  margin:0 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 98;
  transition: .3s ease-in;
}
.sidebar a{
  text-align: center;
  padding: 25px 0;
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 5px;
  text-decoration: none;
}
.sidebar a:hover{
  background: var(--primary-color);
  color: var(--secondary-color);
}
.burger.show .bar{
  background: transparent;
}
.burger.show .bar::before{
  transform: rotate(45deg);
}
.burger.show .bar::after{
  transform: rotate(-45deg);
}