@import url('splash.css');
@import url('keyframes.css');
@import url('sidebar.css');
@import url('messageForm.css');
@import url('footer.css');
:root{
  --primary-color: black;
  --secondary-color: white;
}
.light-theme{
  --primary-color: white;
  --secondary-color: black;
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  transition: .5s ease-in-out;
}
::-webkit-scrollbar{
  width: 2px;
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: var(--secondary-color);
}
.progress{
  position: fixed;
  background: aqua;
  height: .4rem;
  width: 0;
  top: 0;
  left: 0;
  z-index: 101;
  transition: 1s ease-in;
}
.logo-burger{
  height: auto;
  width: 100%;
  position: fixed;
  padding: 10px 20px;
  top: 0;
  display: flex;
  background: black;
  justify-content: space-between;
  align-items: center;
  z-index: 98;
  transition: .5s ease-in;
}
.logo-m{
  height: 50px;
  width: 50px;
  border: 2px solid turquoise;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-m a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.theme-toggle{
  cursor: pointer;
  font-size: 2rem;
  color: white;
  background: none;
  outline: none;
  border: none;
  transition: 1s ease;
}
.wrapper{
  height: 100vh;
  overflow: hidden;
}
/* -----------HERO PAGE--------------- */
.main{
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: var(--secondary-color);
}
.main .logo{
  position: relative;
  font-size: 3.2em;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}
.main .logo::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left:0;
  width: 0%;
  height: 100%;
  color: var(--secondary-color);
  border-right: 2px solid var(--secondary-color);
  overflow: hidden;
  animation: typing 4s linear infinite;
}
.main .desc span::before{
  content: '';
  animation: changeText infinite 10s;
  color: turquoise;
}
.scroll-down{
  position: absolute;
  bottom: 25px;
  transition: 1s ease-in-out;
}
.scroll-down span{
  display: block;
  height: 50px;
  width: 50px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  margin-top:-35px;
  transform: rotate(45deg);
  animation: blink 2s ease-in-out infinite;
}
.scroll-down span:nth-child(1){
  animation-delay: 0s;
}
.scroll-down span:nth-child(2){
  animation-delay: .3s;
}
.scroll-down span:nth-child(3){
  animation-delay: .6s;
}
/* -----------ABOUT ME----------------------- */
.profile{
  min-height: 100vh;
  max-width: 100%;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .about{
  position: relative;
  font-size: 2em;
  font-weight: 400;
  color: turquoise;
  padding: 5px;
  border-bottom: 2px solid var(--secondary-color);
  letter-spacing: 15px;
  margin-bottom: 20px;
  transform-origin: right;
  transform: scaleX(0);
  overflow: hidden;
}
.profile .about[data-scroll="in"]{
  transform: scaleX(1);
  transition: 1s ease .5s;
}
.profile .about::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: turquoise;
  transform-origin: left;
  transition: .5s ease;
}
.profile .about[data-scroll="in"]::before{
  transform: scaleX(0);
  transition-delay: 1s;
}
.profile .content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.profile .content > * {
  margin: 0 25px;
}
.profile .image{
  position: relative;
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .image .svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 350px;
  margin-bottom: 25px;
  background: var(--secondary-color);
  clip-path: circle(70% at left);
  opacity: .8;
}
.profile img{
  max-width: 250px;
  height: 300px;
  margin-bottom: 25px;
}
.profile .description{
  padding: 10px;
  max-width: 400px;
  color: var(--secondary-color);
  border-radius: 10px;
  line-height: 2em;
  text-align: justify;
}
/* ----------SKILL SET -------------------- */
.skillset{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  min-height: 20vh;
}
.icon{
  height: 80px;
  width: 80px;
  margin: 20px;
  background: var(--secondary-color);
  border: 1px solid turquoise;
  transition: .2s ease;
}
#html{
  background: url('./assets/icons/html.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#css{
  background: url('./assets/icons/css.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#express{
  background: url('./assets/icons/express.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#js{
  background: url('./assets/icons/js.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#mongo{
  background: url('./assets/icons/mongo.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#node{
  background: url('./assets/icons/node.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#sql{
  background: url('./assets/icons/sql.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#vue{
  background: url('./assets/icons/vue.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}
.icon:hover{
  transform: scale(1.2);
}
/* ----------PROJECTS SECTION---------------- */
.projects{
  min-height: 100vh;
  width: 100%;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-header{
  position: relative;
  font-size: 2em;
  font-weight: 400;
  color: turquoise;
  padding: 5px;
  border-bottom: 2px solid var(--secondary-color);
  letter-spacing: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  transform-origin: right;
  transform: scaleX(0);
  overflow: hidden;
}
.project-header[data-scroll="in"]{
  transform: scaleX(1);
  transition: 1s ease .5s;
}
.project-header::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: turquoise;
  transform-origin: left;
  transition: .5s ease;
}
.project-header[data-scroll="in"]::before{
  transform: scaleX(0);
  transition-delay: 1s;
}
.projects .container{
  min-height: calc(100vh - 60px);
  width: 100%;
}
.projects .container .responsive{
  cursor: pointer;
  padding: 0 20px;
  float: right;
  width: 25%;
  margin-top: 3rem;
}
.projects .container .responsive .gallery{
  border: 1px solid var(--secondary-color);
  width: 100%;
  overflow: hidden;
}
.projects .container .responsive .gallery img{
  width: 100%;
  height: auto;
  transition: 1s ease-in;
}
.projects .container .responsive .gallery img:hover{
  transform: scale(1.2);
}
.projects .container .responsive .gallery .des{
  padding: 15px;
  text-align: center;
  color: var(--secondary-color);
}
/* --------- CONTACT US --------------------- */
.contact{
  position: relative;
  min-height: 40vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-header{
  position: relative;
  font-size: 2em;
  font-weight: 400;
  color: turquoise;
  padding: 5px;
  border-bottom: 2px solid var(--secondary-color);
  letter-spacing: 15px;
  margin-bottom: 20px;
  transform-origin: right;
  transform: scaleX(0);
}
.contact-header[data-scroll="in"]{
  transform: scaleX(1);
  transition: 1s ease .5s;
}
.contact-header::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: turquoise;
  transform-origin: left;
  transition: 1s ease-in-out;
}
.contact-header[data-scroll="in"]::before{
  transform: scaleX(0);
  transition-delay: 1s;
}
.contact .container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
  width: 100%;
}
.contact .box{
  background: var(--secondary-color);
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.contact .box i{
  position: relative;
  color: turquoise;
  background: var(--secondary-color);
  font-size: 5em;
}
.contact .box .line{
  color: var(--primary-color);
  font-size: 1em;
  font-weight: 800;
}
.contact .container button{
  cursor: pointer;
  padding: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  margin-top: 10px;
}
/* ----------RESPONSIVE LAYOUT--------------- */
@media (max-width: 970px){
  .projects .container .responsive{
    width: 50%;
    margin: 6px 0;
  }
}

@media (max-width: 730px) {
  .splash-screen .text1{
    font-size: 40px;
  }
}
@media (max-width: 480px){
  .main .logo{
    font-size: 2.3em;
  }
  .projects .container .responsive{
    width: 100%;
  }
}
@media (max-width: 378px){
  .main .logo{
    font-size: 1.3em;
  }
}