@import url('splash.css');
@import url('keyframes.css');
@import url('sidebar.css');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 2px;
  background:black;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background:white;
}
.logo-m{
  position: fixed;
  top: 5px;
  left: 5px;
  height: 50px;
  width: 50px;
  border: 2px solid turquoise;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.logo-m a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.wrapper{
  height: 100vh;
  overflow: hidden;
}
/* -----------HERO PAGE--------------- */
.main{
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
}
.main .logo{

  position: relative;
  font-size: 3.2em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}
.main .logo::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left:0;
  width: 0%;
  height: 100%;
  color: white;
  border-right: 2px solid white;
  overflow: hidden;
  animation: typing 5s linear infinite;
}
.main .desc span::before{
  content: '';
  animation: changeText infinite 10s;
  color: turquoise;
}
/* -----------ABOUT ME----------------------- */
.profile{
  min-height: 100vh;
  max-width: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .about{
  font-size: 2em;
  font-weight: 400;
  color: turquoise;
  padding: 5px;
  border-bottom: 2px solid white;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
}
.profile img{
  max-width: 200px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.profile .description{
  padding: 10px;
  max-width: 400px;
  color: white;
  border-radius: 10px;
  text-align: center;
}
/* ----------SKILL SET -------------------- */
.skillset{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #000;
  min-height: 20vh;
}
.icon{
  height: 80px;
  width: 80px;
  margin: 20px;
  background: white;
  border: 1px solid turquoise;
  transition: .2s ease;
}
#html{
  background: url('./assets/icons/html.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}
#css{
  background: url('./assets/icons/css.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}
#express{
  background: url('./assets/icons/express.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#js{
  background: url('./assets/icons/js.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#mongo{
  background: url('./assets/icons/mongo.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#node{
  background: url('./assets/icons/node.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#sql{
  background: url('./assets/icons/sql.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
#vue{
  background: url('./assets/icons/vue.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}
.icon:hover{
  transform: scale(1.2);
}
/* ----------PROJECTS SECTION---------------- */
.projects{
  min-height: 100vh;
  background: #000;
}
.project-header{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  font-size: 2em;
  font-weight: 400;
  color: turquoise;
  padding: 5px;
  border-bottom: 2px solid white;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
}
.container{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-template-rows: minmax(300px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
  padding: 5px;
}
.container .box{
  background: black;
  padding:5px;
}
.box img{
  position: relative;
  max-width: 100%;
}
.box:nth-child(1){
  grid-column: span 2;
  grid-row: span 2;
}
.box:nth-child(2){
  grid-column: span 1;
  grid-row: span 1;
}
.box:nth-child(3){
  grid-column: span 1;
  grid-row: span 1;
}
.box:nth-child(4){
  grid-column: span 4;
  grid-row: span 1;
}
/* ----------RESPONSIVE LAYOUT--------------- */
@media (max-width: 730px) {
  .splash-screen .text1{
    font-size: 40px;
  }
}
@media (max-width: 480px){
  .main .logo{
    font-size: 2.3em;
  }
}
@media (max-width: 378px){
  .main .logo{
    font-size: 1.3em;
  }
}